<%#Using the Bootstrap Pagination class  -%>
	<div class="well" id="previousNextDocument">
    Previous Link |

    This is record X of Y |

    Next link

<div class="pull-right">
      Back to Results link
      |
      <a href="/articles">Start Over</a>
  </div>
	</div>
